.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1505028106030-e07ea1bd80c3?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJlJTIwbW9ybmluZ3xlbnwwfHwwfHx8Mg%3D%3D");
  background-size: cover;
  filter: brightness(0.5); /* Optional: Adjust brightness as needed */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.box form button {
  padding: 10px 15px;
  border-radius: 6px;
  border: 2px solid #b7b339;
  background-color: #b7b339;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  transition: all 0.3s ease;
}
.styled-button {
  padding: 10px 15px;
  border-radius: 6px;
  border: 2px solid #b7b339;
  background-color: #b7b339;
  margin-top: 20px;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  transition: all 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.styled-button:hover {
  background-color: #e5e05d48;
  border: 2px solid #b7b339;
  color: #403f3f;
  font-weight: 600;
}
